.head{
	margin-top: 20px;
}

h1{
	font-size: 3em;
	text-align: center;
}

hr{
	margin: 5px auto;
    width: 20em;
    height: 5px;
    background-color: black;
    border: none;
    border-radius: 10px;
}

.products .product-image img{
	max-width: 100%;
	text-align: center;
}

.products img {
	width: 300px;
	height: 250px;
}


.products{
	align-items: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.product-card{
	padding: 2%;
	flex-grow: 1;
	flex-basis: 16%;
}

.product-card:hover{
	background-color: rgba(52,8,35,0.65);
}

.product-card .product-info{
	margin-top: auto;
}

.product-info h5{
	font-size: 15px;
 	font-weight: bolder;
	color: black;
	margin-bottom: 5px;
}

.product-info h6{
	font-size: 20px;
	color: black;
	margin-top: 3px;
	margin-bottom: 3px;
}

.product-info{
	text-align: center;
}
#sidebar{
	width: 20%;
	padding: 30px;
	margin: 0;
	float: left;
	border-color: black;
	border-width: 5px;
}

#sidebar ul{
	list-style: none;
}

#sidebar ul li a{
	color: black;
	text-decoration: none;
	margin-bottom: 3px;
	font-size: 1em;
}

#sidebar .min-max{
	color: black;
}

#sidebar h6{
	font-size: 3em;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-top: auto;
}